@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outer-padding {
    @apply lg:px-32 md:px-16 px-8;
  }
}

@layer components {
  // Buttons Base classes
  .btn {
    @apply inline-block relative no-underline whitespace-nowrap;
  }
  .btn-before {
    @apply before:content-[""] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-azure before:rounded-[40px] before:transition-all before:duration-300 before:ease-in-out;
  }
  .btn-before--hover {
    @apply hover:before:translate-x-[0px] hover:before:translate-y-[8px];
  }
  .btn__content {
    @apply font-semibold px-[16px] py-[10px] rounded-[40px] border-vulcan border-2 relative;
  }

  // Button styles
  .btn--primary,
  .btn--secondary {
    @apply btn;
  }
//  .btn--default {
//    @apply btn-before btn-before--hover active:translate-y-[4px] active:before:translate-y-0 transition-transform duration-300 ease-in-out;
//  }
  .btn--cta {
    @apply btn-before before:translate-x-[8px] before:translate-y-[8px] hover:before:translate-x-[0px] hover:before:translate-y-[0px];
  }
  .btn--cta .btn__content {
    @apply transition-all duration-300 ease-in-out hover:translate-y-[-8px] active:translate-y-0;
  }

  // Button content
  .btn--primary .btn__content {
    @apply  z-10;
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
  }
  .btn--secondary .btn__content {
    @apply text-vulcan bg-white;
  }

  // Button light variant
  .btn--light {
    @apply before:bg-white;
  }
  .btn--light .btn__content {
    @apply text-white z-10 border-white;

    background-color: var(--bg-inherit-button);
  }

  // Button dark variant
  .btn--dark {
    @apply before:bg-vulcan;
  }
  .btn--dark .btn__content {
    @apply text-vulcan z-10 border-vulcan;

    background-color: var(--bg-inherit-button);
  }
  // End Buttons

  // Typography Styles
  .eyebrow {
    @apply uppercase text-xl tracking-[1px];
  }

  // Text color overrides
  .with-light-text {
    --text-main: var(--white);
    --text-dark: var(--white);

    @apply apply-text;
  }
  .with-dark-text {
    --text-main: var(--vulcan);
    --text-dark: var(--vulcan);

    @apply apply-text;
  }
  .with-text-shadow {
    text-shadow: 0.1rem 0.1rem 0.5rem var(--vulcan);
  }

  .apply-text {
    @apply 
      text-[var(--text-main)] 
      dark:text-[var(--text-dark)] 
      prose-blockquote:text-[var(--text-main)] 
      dark:prose-blockquote:text-[var(--text-dark)]
      prose-figcaption:text-[var(--text-main)] 
      dark:prose-figcaption:text-[var(--text-dark)];
  }

  .apply-background {
    @apply 
      bg-[var(--bg-main)] 
      dark:bg-[var(--bg-dark)] 
      dark:border-[var(--border-dark)] 
  }

  // Fully styled classes
  .on-base {
    --bg-main: var(--ghost-white);
    --bg-dark: var(--vulcan);
    --text-main: var(--vulcan);
    --text-dark: var(--white);
    --border-dark: var(--bg-main);

    --btn-primary-bg: var(--vulcan);
    --btn-primary-text: var(--ghost-white);
    --bg-inherit-button: var(--bg-main);

    @apply 
        bg-[var(--bg-main)] 
        dark:bg-[var(--bg-dark)] 
        text-[var(--text-main)] 
        dark:text-[var(--text-dark)] 
        dark:border-[var(--border-dark)] 
        prose-blockquote:text-[var(--text-main)] 
        dark:prose-blockquote:text-[var(--text-dark)]
        prose-figcaption:text-[var(--text-main)] 
        dark:prose-figcaption:text-[var(--text-dark)];
  }
  .on-white {
    @apply on-base;

    --bg-main: var(--white);
    --bg-dark: var(--vulcan-85);
  }
  .on-ghost-white {
    @apply on-base;
  }
  .on-light-grey {
    @apply on-base;

    --bg-main: var(--light-grey);
    --bg-dark: var(--vulcan-85);
  }
  .on-azure {
    @apply on-base;

    --bg-main: var(--azure);
    --bg-dark: var(--vulcan-85);
    --text-main: var(--white);
  }
  .on-verdansk {
    @apply on-base;

    --bg-main: var(--verdansk);
    --bg-dark: var(--vulcan-85);
    --text-main: var(--vulcan);
  }
  .on-people-eater {
    @apply on-base;

    --bg-main: var(--people-eater);
    --bg-dark: var(--vulcan-85);
    --text-main: var(--white);
  }
  .on-paleruby {
    @apply on-base;

    --bg-main: var(--paleruby);
    --bg-dark: var(--vulcan-85);
    --text-main: var(--white);
  }
  .on-tangy {
    @apply on-base;

    --bg-main: var(--tangy);
    --bg-dark: var(--vulcan-85);
    --text-main: var(--vulcan);
  } 
  .on-vulcan {
    @apply on-base;

    --bg-main: var(--vulcan);
    --bg-dark: var(--vulcan);
    --text-main: var(--white);
    --border-dark: var(--white);
  }
  .on-vulcan-85 {
    @apply on-base;

    --bg-main: var(--vulcan-85);
    --bg-dark: var(--vulcan-85);
    --text-main: var(--white);
    --boder-dark: var(--white);
  }
  .on-independence {
    @apply on-base;

    --bg-main: var(--independence);
    --bg-dark: var(--vulcan-85);
    --text-main: var(--white);
  }
  .on-mischka {
    @apply on-base;

    --bg-main: var(--mischka);
    --bg-dark: var(--vulcan-85);
    --text-main: var(--white);
  }
  .on-pale-sky {
    @apply on-base;

    --bg-main: var(--pale-sky);
    --bg-dark: var(--vulcan-85);
    --text-main: var(--white);
  }

  // Share BG vars down to buttons.
  .bg-ghost-white {
    --bg-inherit-button: var(--ghost-white);
  }
  .bg-vulcan {
    --bg-inherit-button: var(--vulcan);
  }
  .bg-azure {
    --bg-inherit-button: var(--azure);
  }
  .bg-tangy {
    --bg-inherit-button: var(--tangy);
  }
  .bg-paleruby {
    --bg-inherit-button: var(--paleruby);
  }
  .bg-verdansk {
    --bg-inherit-button: var(--verdansk);
  }

  // Link arrow style
  .link--arrow {
    @apply relative inline-flex items-center after:translate-x-[6px] after:inline-block after:w-[6px] after:h-[24px] no-underline hover:underline hover:after:translate-x-[16px] after:transition-all after:duration-300 after:ease-in-out;

    &:after {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="13" viewBox="0 0 7 13" fill="none"><path d="M1 12.3711C1 9.05664 3.67767 6.37109 6.97866 6.37109H7M7 6.36619C3.68555 6.36619 1 3.69075 1 0.392454V0.371094" stroke="%2310141D" stroke-width="1.5"/></svg>') !important;
    }
  }
  
}

// Hide the edit-mode content link
.optly-contentLink {
  display: none
}